.projectDetailsContainer {
  display: flex;
  flex-wrap: wrap;


}

.projectDetailItem {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  word-wrap: break-word;
  flex: 5 5 20%;
  max-width: 250px;
  height: 65px;
  background-color: rgb(243, 247, 250);
  transition: background-color 0.3s ease;
}

.projectDetailItem:hover {
  background-color: #f1eded;

}

.projectDetailLabel {
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
}

.projectDetailValue {
  font-weight: bold;
  color: red;
}

.test {
  background-color: red;
}

.activeItem {
  background-color: #3498db;
  color: #000000;

}